In [1]:
print("Hello, TCS!")

Hello, TCS!

In [2]:
#import python sys
import sys
sys.version

'3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)]'

In [3]:
22/7

3.142857142857143

In [4]:
22+7

29

This is a markdown
1. bullet1
1. bullet2

In [5]:
# different data types
myName = "Azri"
age = 23
my_job = "trainee"

print("My name is " + myName + ". I work as " + my_job + ". I am " + str(age) + " years old")
print("My name is " + myName + ". I work as " + my_job + ". I am {} years old".format(age))

My name is Azri. I work as trainee. I am 23 years old
My name is Azri. I work as trainee. I am 23 years old

In [6]:
type(age)

int

In [7]:
id(myName)

2486185401072

In [8]:
myName = "Soufi"

In [9]:
id(myName)

2486185453296

In [10]:
myName = "Azri"

In [11]:
id(myName)

2486185464240

In [12]:
my_sentence = "Nama saya ialah Azri Soufi"

#indexing strings in Python will work like my sentence[start: end -1: step_size]

my_sentence[0:4]

'Nama'

In [14]:
my_sentence[10:15]

'ialah'

In [15]:
my_sentence[::2]

'Nm aailhAr of'

In [16]:
#reverse the string
my_sentence[::-1]

'ifuoS irzA halai ayas amaN'

In [17]:
split_sentence = my_sentence.split()
type(split_sentence)

list

In [18]:
split_sentence

['Nama', 'saya', 'ialah', 'Azri', 'Soufi']

In [19]:
split_sentence[3]

'Azri'

In [20]:
#get the length of split_sentence
len(split_sentence)

5

In [21]:
float(len(my_sentence)) + 2.5

28.5

In [25]:
#list is represented by square brackets []
my_list = [0,1,2,3,4,"some word",myName, 3.142]
#dictionary is represented by curly braces {}, key value pair, key must be a str
my_dictionary = {"key1":2.44, "key2":my_job, "any_str":my_list}

In [26]:
my_list[5]

'some word'

In [27]:
my_dictionary["key1"]

2.44

In [28]:
my_list[::-1]

[3.142, 'Azri', 'some word', 4, 3, 2, 1, 0]

In [29]:
my_dictionary['any_str'][6][0].lower()

'a'

In [30]:
my_list2 = [0,1,2,3,4,"some word",myName, 3.142, 1,2,3,4]

In [31]:
#get unique items from a collection
set(my_list2)

{0, 1, 2, 3, 3.142, 4, 'Azri', 'some word'}

In [33]:
"-".join(my_sentence.split())

'Nama-saya-ialah-Azri-Soufi'

In [34]:
"_".join(my_sentence.split())

'Nama_saya_ialah_Azri_Soufi'

In [35]:
my_sentence.replace(" ", "-")

'Nama-saya-ialah-Azri-Soufi'

In [36]:
new_str = "*******This is an item with a lot of spaces*****"
new_str.strip("*")

'This is an item with a lot of spaces'

In [37]:
another_list = [1,2,3,4,5,'String'] #mutable
my_tuple = (1,2,3,4,5,'String') #immutable

In [38]:
id(another_list)

2486212838336

In [39]:
id(my_tuple)

2486210715712

In [40]:
#add a value into a list
another_list.append('Azri')

In [41]:
another_list

[1, 2, 3, 4, 5, 'String', 'Azri']

In [44]:
another_list.insert(5, 'inserted')

In [45]:
another_list

[1, 2, 3, 4, 5, 'inserted', 'inserted', 'String', 'Azri']

In [46]:
another_list.count('inserted')

2

In [47]:
#remove from list => removes the last item
another_list.pop()

'Azri'

In [48]:
another_list.remove('inserted')

In [49]:
another_list

[1, 2, 3, 4, 5, 'inserted', 'String']

In [50]:
# browse through dictionary
my_dictionary.values()

dict_values([2.44, 'trainee', [0, 1, 2, 3, 4, 'some word', 'Azri', 3.142]])

In [52]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [53]:
# for loops REMINDER: indentation and the colon
for item in my_dictionary.values():
    print(item)

2.44
trainee
[0, 1, 2, 3, 4, 'some word', 'Azri', 3.142]

In [54]:
# unpack a tuple
for k,v in my_dictionary.items():
    print("the value for key {} is {}".format(k,v))

the value for key key1 is 2.44
the value for key key2 is trainee
the value for key any_str is [0, 1, 2, 3, 4, 'some word', 'Azri', 3.142]

In [55]:
num1 = 8
num2 = 5
num3 = 3

if num1 > num2:
    print("num1 is more than num2")
elif num3 % 3 == 0:
    print("num3 is a mutiple of 3")
else:
    print("No condition were met")

num1 is more than num2

In [56]:
for k,v in my_dictionary.items():
    if type(v) == float:
        print("type float {} occured at {}".format(v,k))

type float 2.44 occured at key1

In [62]:
#Question 1: write a code that lists the even number from a given list
for i in my_list:
    if type(i) != str and i % 2 == 0:
        print(i)
    else:
        continue

0
2
4

In [68]:
def sphere_vol(rad):
    vol = 4/3 * 3.142 * pow(rad,3)
    return round(vol,3)

In [69]:
sphere_vol(4)

268.117

## Exercise 1: Bottle Deposits
In many jurisdictions a small deposit is added to drink containers to encourage people to recycle them. 
In one particular jurisdiction, drink containers holding one liter or less have a  0.1  deposit and drink containers holding more than one liter have a  0.25  deposit. 
Write a program that reads the number of containers of each size from the user. 
Your program should continue by computing and displaying the refund that will be received for returning those containers. 
Format the output so that it includes a dollar sign and always displays exactly two decimal places.

In [ ]:
def bottle_checks():